<div class="card mb-3">
  <div class="card-header">
    <div class="row flex-between-center">
      <div class="col-4 col-sm-auto d-flex align-items-center pe-0">
        <h5 class="fs-0 mb-0 text-nowrap py-2 py-xl-0">Products</h5>
      </div>
      <div class="col-8 col-sm-auto text-end ps-2">
        <div id="table-customers-replace-element">
          <button class="btn btn-falcon-success btn-sm" type="button" (click)="onAddProduct()">
            <i class="fa-solid fa-plus"></i>
            <span class="d-none d-sm-inline-block ms-1">New</span>
          </button>
          <button [ngClass]="(isFilterActive$ | async) ? 'btn-falcon-warning' : 'btn-falcon-default'" class="btn btn-sm mx-2" type="button" (click)="isFilterOpen = !isFilterOpen">
            <span class="fa-solid fa-filter"></span>
            <span class="d-none d-sm-inline-block ms-1">Filter</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="card-body p-0">
    <app-product-list-filter [show]="isFilterOpen"></app-product-list-filter>
    <app-advanced-table [columnHeaderInfo]="columnHeaderInfo" [data]="data$ | async" [sort]="sort$ | async" (sortChange)="onSortChange($event)"></app-advanced-table>
  </div>

  <div class="card-footer d-flex align-items-center justify-content-center">
    <ng-container *ngIf="(pagination$ | async) as pagination">
      <app-pagination *ngIf="pagination.totalPages > 1" [pagination]="pagination" (pageChanged)="onPageChanged($event)"></app-pagination>
    </ng-container>
  </div>
</div>
